body {
    margin: 0;
    background-color: deepskyblue;
}

main {
    position: relative;
}

ul {
    text-align: center;
list-style-type: none;
margin: 0;
padding: 0;
}

.imageCarousel {
    height: 50vw;
    width: 100%;
}

.displayNone {
    display: none;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: midnightblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.prev {
    position: absolute;
    top: 50%;
    left: 0;
}

.next {
    position: absolute;
    top: 50%;
    right: 0%;
}





